@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

a {
    text-decoration: none;
}

section {
    padding: 100px 0;
}

.container {
    width: 1140px;
    padding: 0 16px;
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    align-items: center;
    transition: all 0.4s ease-in-out;
    background-color: white;
    box-shadow: none;
    z-index: 1000;
}

.nav-up {
    box-shadow: 0 2px 10px rgba(101, 101, 101, 0.1);
}

nav {
    max-width: 1140px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo a{
    color: #333333;
    font-weight: 900;
    font-size: 24px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
}

.nav-links li {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 10px 10px;
    /*color: #919bb0;*/
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.nav-link:hover {
    color: #000000;
}

.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero {
    margin: auto;
    width: 1140px;
    height: 500px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*align-items: center;*/
    /*text-align: center;*/
}

.hero h1 {
    font-size: 98px;
    font-weight: 800;
}

.hero h4 {
    font-size: 24px;
    font-weight: 300;
}

.btn {
    color: #17B978;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    width: 200px;
    border: 2px solid #17B978;
    transition: all 0.5s linear;
    position: relative;
}

.btn:hover {
    color: #fff;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #17B978;
    z-index: -1;
    transition: all 0.4s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.66, .17, .77, .56);
    transform: scaleY(0);
}

.btn:hover::before {
    transform: scaleY(1);
}


.title-ctn {
    width: 100%;
}

.title-ctn h1 {
    font-size: 5rem;
    margin-bottom: 90px;
    letter-spacing: 1px;
}

.two-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.about-txt {
    grid-column: 1;
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    line-height: 2rem;
}

.about-pic {
    grid-column: 2;
    display: flex;
    align-self: center;
}

.about-pic img {
    width: 300px;
    height: auto;
    margin: auto;
    box-shadow: 15px -15px 0 rgba(88, 88, 88, 0.1);
}


.design-process-ctn {
    width: 100%;
}

.step {
    width: 100%;
    display: flex;
    padding: 16px 0;
}

.step h1 {
    font-size: 7rem;
    padding-right: 1rem;
}

.step p {
    padding-top: 2rem;
    width: 40%;
}

.step-right {
    justify-content: flex-end;
}

@media screen and (max-width: 768px){

    .step {
        flex-direction: column;
    }

    .step h1 {
        font-size: 4rem;
    }

    .step p {
        width: 100%;
        padding-top: 1rem;
    }
}

.prj-info {
    grid-column: 1;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.prj-info h4 {
    color: #585858;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 40px;
}

.prj-info p {
    color: #585858;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-weight: 300;
}

.prj-btn {
    padding: 10px 40px;
}

.prj-picture {
    grid-column: 2;
    height: auto;
    display: flex;
    justify-content: center;
}

.prj-picture img {
    max-height: 400px;
}

.info-reverse {
    grid-column: 2;
    padding-left: 16px;
    padding-right: 0;
}

.pic-reverse {
    grid-column: 1;
}

.prj-margin {
    margin-bottom: 125px;
}


footer {
    padding: 90px 0;
}

.footer {
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-txt {
    width: 70%;
    margin: 0 auto;
}

.footer-txt h2 {
    font-size: 58px;
}

.social-media {
    width: 40%;
    font-size: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.social-media a {
    color: #585858;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #882AEC;
}

.footer-btn {
    margin: auto;
    width: 240px;
}

/*nav media queries*/
@media screen and (max-width: 1024px) {

    .nav {
        height: 60px;
    }

    nav {
        position: relative;
    }

    .nav-container {
        height: 50px;
    }

    .logo {
        padding-left: 16px;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 1001;
    }

    .hamburger div {
        width: 30px;
        height: 3px;
        background-color: #333333;
        margin: 5px;
        transition: all 0.3s ease-in-out;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-links {
        position: fixed;
        background-color: rgb(240, 240, 240);
        height: 100vh;
        width: 100%;
        padding: 15vh 0;
        flex-direction: column;

        clip-path: circle(0 at 89% 5vh);
        -webkit-clip-path: circle(0 at 89% 5vh);
        transition: all 0.7s ease-in-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(150vh at 100% 0);
        -webkit-clip-path: circle(150vh at 100% 0);
        pointer-events: all;
        margin: auto;
    }

    .nav-links li {
        opacity: 0;
    }

}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }

}

/*other media queries*/
@media screen and (max-width: 1024px) {
    section {
        padding: 40px 0;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .hero-container {
        padding: 0 20px;
    }

    .hero {
        width: 100%;
        height: 60%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 40px 0;
    }

    .container {
        width: 100%;
        padding: 0 16px;
    }

    .hero-container {
        padding: 0 16px;
    }

    .hero {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .hero h1 {
        font-size: 46px;
        margin-bottom: 32px;
    }

    .hero h4 {
        font-size: 18px;
        margin-bottom: 32px;
    }

    .hero a {
        font-size: 18px;
        padding: 8px 0;
        width: 125px;
    }

    .title-ctn h1 {
        font-size: 32px;
        margin-bottom: 60px;
        letter-spacing: 1px;
    }

    .two-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    /*This is for the about section*/
    .about-pic {
        grid-column: 1;
    }

    .about-pic img {
        margin-top: 16px;
        width: 300px;
    }

    /*THis is for the projects*/
    .prj-info {
        grid-column: 1;
    }

    .prj-info h4 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .prj-picture {
        grid-column: 1;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .prj-picture img {
        width: 100%;
        height: auto;
    }

    .info-reverse {
        grid-row: 1;
        padding-left: 0;
        padding-right: 16px;
    }

    .pic-reverse {
        grid-row: 2;
    }

    footer {
        padding: 40px 0;
    }

    .footer {
        height: 400px;
    }

    .footer-txt {
        width: 100%;
    }

    .footer-txt h2 {
        font-size: 32px;
    }

    .social-media {
        width: 100%;
        font-size: 34px;
    }
}
